.results {
    text-align: center;
}

.grid {
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: rebeccapurple;
    border-radius: 10px;
}

.shooter {
    background-color: green;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
}